.stylise {
    /* font-style: italic; */
    /* font-weight: bold; */
    font-family: Emirates-Bold;
    font-size: 16px;
}

.icon {
    font-family: Iconography;
    font-style: normal;
    padding-left: 4px;
    font-size: 10px;
}

.planetype {
    color: #666666;
    display: none;
}

.ts-fip__header {
    display: none;
}

.flightcode {
    color: #666666;
}

p {}


.cheat {
    position: absolute;
    left: 80px;
    background: white;
    padding: 19px;
    top: -30px;
    font-size: 16px;
    /* padding-right: 127px; */
    padding-left: 10px;
    padding-right: 214px;
}

.cheat .icon {
    font-size: 14px;
}
